/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
* { box-sizing: border-box;}


    /*----------- BODY --------------*/
    body {
        font-size: 16px;
        color: #BFD5F6;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    }


    /*----------- HEADER --------------*/

        header, nav, main, section, footer { 
        max-width: 67rem;
        margin: auto;
  }

    header {
        padding: 0 0 0 2%;
        color: #BFD5F6;
        background-color: #395785;
    }
    header h1 {
        display: block;
        font-size: 3rem;
        text-align: left;
        padding: 10px;
        margin: 0 2%;
        color: #142A4D;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    }

    .logo {
        float: left;
        margin: .25% 0 .25% 0;
        width: 140px;
        
    }
    header .subheading {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
        padding: .25rem 0;

    }
    .hdate { 
        font-size: .8rem;
        text-align: right;
        margin: 0 2%;
    }



/*----------- NAVIGATION --------------*/


    nav button {
        margin: 0 2%;
        background-color: #FCFFC0;
        border: 1px solid;
        border-color: #1E1F03;
        font-size: 1.6rem;
        color: #000;

    }

    nav {
    margin: 0;
    background: #7591BD;


    }

    nav ul {
        list-style-type: none;
        margin: 0em;
        padding: 0em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background: #FCFFC0;        
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    }

    nav ul li {
        flex: 1 90%;
        border:1px solid #7591BD;
    }

    nav ul li a {
        display:block;
        color: rgba( 30, 31,  3,1);
        text-align: center;
        padding: .30em;
        text-decoration: none;
        font-size: 1.25rem;
    }

    nav ul li:first-child a {}



    nav ul li.active a {background-color: #6E7315; color: #fff;}
    nav ul li a:hover {background-color: rgba( 30, 31,  3,1); color: #FCFFC0 ;}









/*----------- MAIN --------------*/
    main {
        padding: 0 2%;
        min-height: 10rem;
        background-color: #7591BD;
         color: #1C020A;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        color: #142A4D;
        padding: .5rem;
        margin: auto;
        
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
        padding: .5rem;
        color: #142A4D;
        margin: 0;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    }

    h3 {
        font-size: 1.25rem;
        text-align: center;
        margin: auto;
        padding: .5rem;
        color: #142A4D;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
       
      }

    p { font-size: 16px; 
        text-align: center;
        color: #BFD5F6;
        margin: 0;
        padding-bottom: 1rem;}

    main figure { margin: 0; width: 100%;}

  


    section h3 { margin: 0; }

    section.current { 
        border: solid 1px;
        display: inline-block; }

    section img { display: block; width: 100%;
    }

/*----------- Home Page --------------*/




    .biking {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(225px, auto);
        grid-gap: 25px;
        max-width: 20rem;
        padding: 0;
        margin: auto;
      
    }

    .bikearticle {
    border: 2px solid #1C020A;
    border-radius: 5px;
    background-color: #FCBED0;
    padding: 0;
    margin: 1rem;
    }

    .advbikeinfo {
        color: #1C020A;
        font-size: .8rem;
        margin: 2%; 
        padding: .5rem;
    }
  
    .advdescription  {    
        color: #1E1F03;
        padding: 0;
        
    }

   .biketype {
        color: #1C020A;
        margin-bottom: .1rem;
        padding: .1rem;
    }

    .bikeimgage { max-width: 400px;
                max-height: 300px;

    }
    section h1 {
        color: #1E1F03;
        margin-bottom: .1rem;
        padding: 1rem 1rem;
    }



/*----Home Page Article and Image-----*/


  
    main section .home-article {
    display: flex;
    flex-direction: column;
    
        margin: 0;
    
}
     

    .home-article {
        width: 100%;
        margin: 2rem; 
        font-family: 'Roboto', sans-serif;
} 
    

    .monthlybikeinfo { 
        border: 2px solid #1C020A;
    border-radius: 5px;
    background-color: #FCBED0;
    padding: 0;
    margin: 1rem;
        
        font-family: 'Roboto', sans-serif;
}

    .homebikefig {
        max-width: 100%;
        margin: 0;
    }


    



/*----- Service Menu section styles -----*/

    figure img {
        width: 100%;
        
        
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(225px, auto);
        grid-gap: 25px;
        max-width: 64rem;
        margin: auto;
      
    }

        .menu article {
        border: 2px solid #6E7315;
        border-radius: 5px;
        background-color: #FCFFC0;
        padding: 0;
        margin: 1rem;
        }

        section p {
            color: #1E1F03;
            font-size: 1.2rem;
            margin: 2%; 
            padding: .5rem;
        }
     

    .alacarte {
            color: #FCBED0;
            max-height: 4rem;
            margin: 1rem;
            background-color: #69132C;
        }



       section h2 {
            color: #1E1F03;
            margin-bottom: .1rem;
            padding: .1rem;
        }
        section h1 {
            color: #1E1F03;
            margin-bottom: .1rem;
            padding: 1rem 1rem;
        }

/*----------- Contact Us Form --------------*/

 /*-----COLUMNS -----*/
   

     #form-flex {
         max-width: 64rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
	    }


    .contact { 
        display: flex;
	    flex-direction: column;
        margin: auto;
        padding: .5rem 1rem;}
 

    iframe {
        max-width: 200px;
        max-height: 200px
}
   
    

    
    fieldset {
        background-color: #6E7315;
       padding: 1rem;
        border-radius: .8em;
        max-width: 85%;
        margin:  1.5rem 0;
        border: 2px solid #FCFFC0;

    }
    legend {
        color: #FCFFC0;
        margin-left: 8%;
        padding: .5rem;
        background-color: #6E7315;
        border-radius: .4em;
        
        
        
    }

    label {
        display: block;
        color: #FCFFC0;
        padding: 0 2rem 0 1rem;
        
    }

    label input {
        width: 80%;
        padding: .3rem;
        border: 2px solid #1E1F03;
    
    }

    label span {
        display: block;
        font-size: 1rem;
        color: #FCFFC0;
        padding-top: .6rem;
        padding-bottom: .4rem;
        
    }

    
    .contact p {
        color: #BFD5F6;
        text-align: left;
        font-size: 16px;
        
    }

    .contactinfo{
        color: #142A4D;
        text-align: left;
        font-weight: 600;
        font-size: 1.2rem;
        padding: 0;
    }

    
    .textbox {
        border: 2px solid #1E1F03;
        max-width: 100%; 
        padding: 1rem;
    }
    


/*-----buttons -----*/
    input.submitBtn {
       
        color: #FCFFC0;
        border: 1px solid #1E1F03;
        border-radius: 7px;
        width: 60%;
        margin: .5em;
        font-size: 1em;
        padding: .6em;
        background: #6E7315;
        box-shadow: 4px 4px 10px #1E1F03;
    }

 



/*--------Thank You Page ----------*/   
    main.thanks {
        width:90%;
        margin: auto;
        
    }
    
    h1.thanks-title {
        text-align: center;
        font-style: italic;
        font-weight: bolder;
                
    }
    
    article.thanks-page {
        
        text-align: center;
        
    }





 /*---------- Events Page --------------*/   
    
    #event-flex {
        max-width: 64rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
	    } 



    .right {

        max-width: 100%

    }
    .left {
        max-width: 100%;
    }

    .eventinfo {
        font-size: 1.25rem;
        color: #142A4D;
    }
    .eventtitle {
        color: #142A4D;
        font-size: 1.5rem;

    }



/*---------- Events Page Form ----------*/  


 /*-----COLUMNS -----*/
   

     #form-flex {
        max-width: 64rem;
        margin: auto;
        
    }


    .contact { 
        display: flex;
	    flex-direction: column;
        margin: auto;
        padding: .5rem 1rem;}
 

    iframe {
        max-width: 200px;
        max-height: 200px
    }
   
    

    
    .event {
        background-color: #6E7315;
        border-radius: .9em;
        max-width: 85%;
        padding: 1rem;
        margin:  1.5rem 0;
        border: 2px solid #FCFFC0;

    }
    .eventcontact {
        color: #FCFFC0;
        margin: auto;
        padding: .5rem;
        background-color: #6E7315;
        border-radius: .4em;
           
    }

    label {
        display: block;
        color: #FCFFC0;
        padding: 0 2rem 0 1rem;
        
    }

    label input {
        width: 80%;
        padding: .3rem;
        border: 2px solid #1E1F03;
    
    }

    label span {
        display: block;
        font-size: 1rem;
        color: #FCFFC0;
        padding-top: .6rem;
        padding-bottom: .4rem;
        
    }

    .eventchoice {
        color: #1E1F03;
        border: 2px solid #1E1F03;
        
    }
    
    .eventmessage {
        width: 100%; 
        padding: 1rem;
    }
    


/*-----buttons -----*/
    input.eventsubmitBtn {
       
        color: #FCFFC0;
        border: 1px solid #1E1F03;
        border-radius: 7px;
        width: 60%;
        margin: .5em;
        font-size: 1em;
        padding: .6em;
        background: #6E7315;
        box-shadow: 4px 4px 10px #1E1F03;
    }



/*--------- Bikes page  --------*/

.dropdownMenu {
    padding: 0;
    margin: .5rem;
    
}

.bikeimg {
    max-width: 100%;
}

.bikename {
    font-size: 1.5rem;
    padding:.5rem;
    margin: 2%;
}

 

/*--------- Adventure page  --------*/
   
 


    .trips {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(225px, auto);
        grid-gap: 25px;
        max-width: 20rem;
        padding: 0;
        margin: auto;
      
    }

    .advarticle {
    border: 2px solid #1C020A;
    border-radius: 5px;
    background-color: #FCBED0;
    padding: 0;
    margin: 1rem;
    }

    .advinfo {
        color: #1C020A;
        font-size: .8rem;
        margin: 2%; 
        padding: .5rem;
    }
  
    .advdescription  {    
        color: #1C020A;
        padding: 0;
        
    }

   .trailname {
        color: #1C020A;
        margin-bottom: .1rem;
        padding: .1rem;
    }
    section h1 {
        color: #1C020A;
        margin-bottom: .1rem;
        padding: 1rem 1rem;
    }

/*--------- Adventure page Register --------*/

.bikeDropdown {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:960px;
	height:100px;
	margin:auto;
	list-style:none;
	padding:0px;
	border-top: 4px solid red;
}

.bikeDropdown li {
	width: 190px;
	height: 48px;
	float: left;
	text-align: center;
	background:rgb(240, 240, 240);
	font-family: sans-serif;
	line-height: 3.6;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	font-size: 14px;
	margin: 1px;
}

.bikeDropdown li > ul {
	position:relative;
	width:190px;
	clear:both;
	/* Hide the Submenus */
	display:none;
}

h4 {
	margin:0px;
	padding:0px;
}

/*--------- Bikes Page --------*/
  
#accordian-container {
	width: 90%;
	
	border: 1px solid #DF4910;
	overflow: auto;
}
ul,li {
	list-style: none;
}
.accordian-title {
	height: 40px;
	background: #DF4910;
	color: #fff;
	text-align: center;
	padding-top: 13px;
}

.snippets-accordian li {
	padding: 20px;
}

.snippets-accordian li.q {
	background: #666666;
	color: #050505;
	font-weight: bold;
	font-size: 120%;
	border-top: 1px solid #DF4910;
	border-bottom: 1px solid #DF4910;
	cursor: pointer;
}

.snippets-accordian li.a {
	background: #1D1F20;
	display: none;
}

.rotate {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

  /*----------- Reference Page --------------*/
.referencelist {
    color: #BFD5F6;
    margin: 0;
    padding:0;
}
.referencelist li {
    
    margin: 0;
    padding: 0;
}


    /*----------- Footer --------------*/

    footer {
        font-size: .8rem;
        color: #1C020A;
        font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
        background-color: #B54464;
        text-align: center;
        border-top:  2px solid #1C020A;
    }
    .footer-bar { 
        padding: .8rem 3rem; 
        border-top:  2px solid #1C020A;}

    .footer-info {
        border-top:  2px solid #1C020A;
    }

    aside h1 { 
        margin: 0 0;
        font-size: .95rem;
        padding: .5rem 0 0 0; 
        color: #1C020A;
        font-size: 1rem}

    aside p { 
        margin: 0 0; 
        font-size: .8rem;
        padding-bottom: .5rem;
        color: #1C020A;
    }

    footer>p {
        color:#FCBED0;
        font-size: .8rem;
        padding: .75rem;
        margin: 0;
        background-color: #69132C;
        border-top:  1px solid #1C020A;
    }
.reference {
    color: #FCBED0;
}



    /*----- Clearfix: Force an Element not to collapse -----*/
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

