/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 460px) and (max-width:806px){
 
   

/*----------- BODY --------------*/





/*----------- HEADER --------------*/
    
    header, nav, main, section, footer { 
    margin: auto;
    
 }
/*----------- NAVIGATION --------------*/
    nav ul { flex-direction: column;}
    nav button { 
    display: flex; 
    flex: auto;
    }
    nav ul.hide {display: none;}
    


    

 
    
    
 /*----------- Home Page --------------*/   
    
  .biking {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(175px, auto);
        grid-gap: 25px;
        max-width: 35rem;
        padding: 0;
        margin: auto;
      
        }   
    
/*----Home Page Article and Image-----*/
       main section .home-article {
    display: flex;
    flex-direction: column;
    }
    
    .homebikefig {
        max-width: 80%;
        margin: 0;
    }
       
 /*----------- bike Page --------------*/  
   .bikeimg {
    max-width: 60%;
} 
    
/*----------- Contact Us Page --------------*/

/*----------- Contact Us Form --------------*/

 /*-----COLUMNS -----*/
   
    #form-flex {
        max-width: 64rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
	    }  
    
     .contact { 
        display: flex;
	    flex-direction: column;
        margin: auto;
        padding: .5rem 1rem;}
    
        iframe {
        max-width: 100%;
        max-height: 100%;
    }

     
    
    
   
  
/*---------- Event Page ----------*/
    
 
    
    
    .right {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0;
    } 
    .left {
        flex: auto;
        width:80%;	
        margin: 0;
    }


    
/*--------Thank You Page ----------*/   
    main.thanks {
        width:90%;
        margin: auto;
        
        
    }
    
    h1.thanks-title {
        text-align: center;
        font-style: italic;
        font-weight: bolder;
                
    }
    
    article.thanks-page {
        
        text-align: center;
        
        
    }
     
    
    
/*----- Service Menu section styles -----*/
 

     .menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(225px, auto);
        grid-gap: 25px;
        max-width: 64rem;
        margin: auto;
      
    }

    .menu article {
    border: 2px solid #6E7315;
    border-radius: 5px;
    background-color: #FCFFC0;
    padding: 0;
    margin: 1rem;
    }

    section p {
        color: #1E1F03;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        margin: 2%; 
        padding: .5rem;
    }
    section p:nth-child(2) {
        font-style: italic;
        text-align: center;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        margin: 0; 
}
    

   section h2 {
        color: #1E1F03;
        margin-bottom: .1rem;
        padding: .1rem;
    }
    section h1 {
        color: #1E1F03;
        margin-bottom: .1rem;
        padding: 1rem 1rem;
    }
    
/*--------- Adventure page  --------*/


    .trips {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(175px, auto);
        grid-gap: 25px;
        max-width: 35rem;
        margin: auto;
    }
    


    
    /*--------- Adventure page Register --------*/

    .advregister {
        display: block;
        color: #FCFFC0;
        padding: 0 2rem 0 1rem;
        
    }

    .advregister input {
        width: 65%;
        padding: .3rem;
        border: 2px solid #1E1F03;
    
    }

    .advregister span {
        display: block;
        font-size: 1rem;
        color: #FCFFC0;
        padding-top: .6rem;
        padding-bottom: .4rem;
        
    }

/*-----buttons -----*/
    input.registersubmitBtn {
       
        color: #FCFFC0;
        border: 1px solid #1E1F03;
        border-radius: 7px;
        width: 40%;
        margin: .5em;
        font-size: 1em;
        padding: .6em;
        background: #6E7315;
        box-shadow: 4px 4px 10px #1E1F03;
    }
    
    
    

/*----------- FOOTER --------------*/
    
} /* end of media query */


@media only screen and (max-width: 459px) {
    
/*----------- BODY --------------*/
   
    nav ul.hide {display: none;}
    


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    .animanav { display: none;}
    
   
/*----------- MAIN --------------*/
   
   

    
    



/*----------- FOOTER --------------*/
    
} /* end of media query */