/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
* { box-sizing: border-box;}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Modini MT, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: 1.5% 2%;
    color: #fff;
    background-color: #135E66;
}
header h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0 0;
}

header img {
    float: left;
    margin: 0 2% 0 0;
}
header .subheading {
    font-size: .90rem;
    text-align: center;
    margin: 0 0 0 0;
    padding-bottom: 1rem;
    
}



/*----------- NAVIGATION --------------*/


nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: 1px solid;
    border-color: saddlebrown;
    font-size: 1.6rem;
    color: saddlebrown;
    
}

nav {
margin: 0;


}

nav ul {
	list-style-type: none;
	margin: 0em;
	padding: 0em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
    background: #935800;
    font-family: Bodoni MT, sans-serif;
}

nav ul li {
    flex: 1 100%;
    border-bottom:1px solid #fff;
}

nav ul li a {
    display:block;
	color: rgba(255, 255, 255, 100);
	text-align: center;
	padding: .50em;
	text-decoration: none;
	font-size: 1.25rem;
}

nav ul li:first-child a {}



nav ul li.active a {background-color: rgba(0,0,0,0.2); color: black;}
nav ul li a:hover {background-color: rgba(0,0,0,0.4);}









/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

main h2 {
    font-size: 1.6rem;
    text-align: center;
    color: #66310A;
    margin: 0 0 0 0;
}

main h3 {
    font-size: 1.25rem;
    text-align: center;
    color: black;
    
}
main figure { margin: 0; width: 100%;}

main figure img { margin: 0; width: 100%;}


section h3 { margin: 0; }

section.current { 
    border: solid 1px;
    display: inline-block; }

section picture img { display: block; width: 20%;
}

/*----------- MAIN GALLERY --------------*/

/*------Gallery Grid----------*/

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem; 
}

.gallery-image img {
    width: 13rem;
    margin: 0;
}

/* rounded corners - boxmodel */
.gallery-image img {
    border-radius: 10px 15px;
    opacity: .60;
}


/* simple opacity */
.opac {opacity: .5;}


/* hover effect - not anchor tags around images */
img:hover {box-shadow: 5px 5px 10px gray;}


figcaption {}


/*---- Weather Summary Flex ----------*/   

.img weathericon {
    
    align-content: center;
}
    
#summary { 
    display: flex;
    flex-direction: column; 
    border: 2px solid black;
    width: 100%;
    padding: 0;
    margin: 0;
}
    
#summary > .highlow {
    
    text-align: center;
    flex: auto;       
}

#summary > .current {
    
    flex: auto;
    text-align: center;
    padding: 10px
}
    
#summary > .conditions {
    
    flex: auto;
    padding: 10px;        
} 
    
#summary > .windchill {
   
    flex: auto;
    padding: 10px 10px;   
}
    
    





/*----Town Article and Image-----*/


article h3 {
    color: #66310A;
    padding: .25rem;
    margin: 0;
}

.article {
    display: flex;
    flex-direction: column;     
} 

.town-article { 
    font-family: 'Roboto', sans-serif;
}

.town-img {
    width: 100%;
}


/*----------- Footer --------------*/

footer {
    font-size: 1rem;
    background-color: #1d5c63;
    padding: .5rem 2%;
    text-align: center;
}
aside { 
    font-size: .9rem;
    margin: 0;
}

aside h4 { margin: 0 0; }

aside p { margin: 0 0; }

footer>p {
    font-size: .8rem;
    color:#fff;
    padding: .25em;
    margin: 0;
    background-color: #1d5c63;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}