/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 37.5rem) {
 
   

/*----------- BODY --------------*/
    
/*-Flex Layout----*/
.article {
    display: flex;
    flex-direction: row;
} 
.town-article { 
    width: 50%;
    margin: 1rem;
}

 .town-img {
    width: 50%; 
}
    



/*----------- HEADER --------------*/
    
header, nav, main, section, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    max-width: 67rem;
    margin: auto;
    
 }
/*----------- NAVIGATION --------------*/
  
nav ul { flex-direction: row;}
nav button { display: none;}

    


/*----------- MAIN --------------*/
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}  
    
    
 main section { 
    border: none;
    padding: 0;
    margin: 0;
}
    
main section.forecast {
    padding: 5px 50px 5px 50px;
    line-height: ;
    margin: 0;
    text-align: center;
    background: #B28869;
}
    
table.forecast { border-collapse: collapse; width: 100%; }
    
table, th, td {
    background-color: #fff;
    padding: 3px;    
    border: 2px solid;
}

section.forecast h3 { margin: 0;}

/*----------- FOOTER --------------*/
    
} /* end of media query */


@media only screen and (max-width: 37.5rem) {
    
/*----------- BODY --------------*/
section.forecast { display: none; }
    


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
 nav ul.hide {display: none;}
    
   
/*----------- MAIN --------------*/
    
   
    
    
    



/*----------- FOOTER --------------*/
    
} /* end of media query */