/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 560px) and (max-width:800px){
 
   

/*----------- BODY --------------*/
    
/*-Flex Layout----*/
.article {
    display: flex;
    flex-direction: row;
} 
.town-article { 
    width: 50%;
    margin: 1rem;
}

 .town-img {
    width: 75%; 
}
    



/*----------- HEADER --------------*/
    
header, nav, main, section, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  
    
 }
/*----------- NAVIGATION --------------*/
nav ul { flex-direction: row;}
nav button { display: none;}

    

  
/*----------- MAIN --------------*/
    
    
/*---- Gallery Grid ----------*/    
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}  
    
/*---- Weather Summary Flex ----------*/      
    
#summary { 
    display: flex;
    flex-direction: row; 
    border: 1px solid black;
    width: 100%;
    padding: 0;
    margin: 0;
}
    
#summary > .highlow {
    border: 1px solid black;
    padding: 10px;
    flex: auto;       
}

#summary > .current {
    border: 1px solid black;
    flex: auto;
    text-align: center;
    padding: 10px
}
    
#summary > .conditions {
    border: 1px solid black;
    flex: auto;
    padding: 10px;        
} 
    
#summary > .windchill {
    border: 1px solid black;
    flex: auto;
    padding: 10px 10px;   
}
    
    
    
    
/*---- Forecast Table ----------*/        
    
main section.forecast {
    padding: 5px 50px 5px 50px;
    line-height: ;
    margin: 0;
    text-align: center;
    background: #B28869;
}
    
table.forecast { border-collapse: collapse; width: 100%; }
    
table, th, td {
    background-color: #fff;
    padding: 3px;    
    border: 2px solid;
}

section.forecast h3 { margin: 0;}

/*----------- FOOTER --------------*/
    
} /* end of media query */


@media only screen and (max-width: 559px) {
    
/*----------- BODY --------------*/
section.forecast { display: none; }
nav ul.hide {display: none;}
    


/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
 
    
   
/*----------- MAIN --------------*/
    
   
    
    
    



/*----------- FOOTER --------------*/
    
} /* end of media query */