/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
font-family: bodoni mt, sans-serif;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    max-width: 1120px;
    margin: auto;
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    padding: .5rem 2%;
    color: white;
    background: #135E66;
    
}

}
header h1 {
      
    font-size: 40px;
    text-align: center;
    margin: 0;
    
}

header img {
    float: left;
    margin: 0 2% 0 0;
}
header .subheading {
    font-size: 20px;
    text-align: center;
    padding-bottom: 1em;
    
    
}

nav {
    
}
nav button {}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B2A999;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li.active a { 
    color: black;
    background-color: #B28869; }
nav ul li a:hover { 
    color: #226e77; 
    background-color: #B28869; }

main {}
main h2 {
    font-size: 24px;
    text-align: center;
    color: #66310A;
}
main h3 {
    font-size: 20px;
    text-align: center;
    color: black;
    
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { margin: 0; width: 100%; }


article h3 {
    
    color: #66310A;
    padding-top: .25em;
    margin: 0;
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
 max-width: 400x; /* fill the page in the small/phone view */
  margin: auto;
}

footer {
    font-size: 14px;
    font-family:serif;
    line-height: 1;
    background-color: #34A6B2;
    color: #000000;
    text-align: center;
    clear: both;
    
}
aside h4 { margin: 0 0; }
aside p { margin: 0 0;
    
}
footer>p {
    
    padding: .75em;
    margin: 0;
    background-color: #1d5c63;
} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */